.main_wrap {
  padding: 150px 30% 0 30%;
}

.title h1 {
  text-align: center;
  font-size: 32px;
}

.title {
  margin-bottom: 3%;
}

.search {
  margin-top: 3%;
}

.search_wrap {
  display: flex;
}

dl dd {
  margin-left: 2%;
  margin-right: 2%
}

.choice {
  margin-left: 3%;
}

.box {
  margin: 0 0 0 auto;
}

.submission_wrap {
  padding: 50px 20% 0 20%;
}
